#add_more_product{
    background-color: black;
    padding: 8px 15px;
    margin: 25px;
}

#add_more_product a{
    text-decoration: none;
    color: white;

}

#all_products{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    margin: auto;
    width: 80%;
    gap: 35px;
}

#box{
    border: 1px solid black;
    padding: 20px;
}

#img{
    display: block;
    margin: auto;
}

h4{
 margin-left: 20px;
}

#remove_product{
    display: block;
    margin-left: 70px;
    background-color: black;
    color: white;
    padding: 8px 15px;
}